[submodule "Docker"]
	path = Docker
	url = https://github.com/HotcocoaCanary/Canary-DMS-Docker.git
[submodule "ClaudeUsageStats"]
	path = ClaudeUsageStats
	url = https://github.com/HotcocoaCanary/Canary-DMS-ClaudeUsageStats.git
[submodule "Tailscale"]
	path = Tailscale
	url = https://github.com/HotcocoaCanary/Canary-DMS-Tailscale.git
